In [2]:
from itertools import islice
import numpy as np
import pandas as pd

In [21]:
df = pd.DataFrame(np.random.randn(100, 4), columns=list("ABCD"))

In [22]:
df.head()

          A         B         C         D
0  0.885448 -0.074157 -0.489922 -1.757388
1 -1.291232  0.268375 -0.107068  0.528309
2  0.741767 -0.260990  0.616725  0.379563
3  0.094407  2.658701  0.870898  1.067476
4 -2.672398  0.342675  0.267685 -0.958567

In [23]:
df['E'] = "hello"

In [24]:
df.head()

          A         B         C         D      E
0  0.885448 -0.074157 -0.489922 -1.757388  hello
1 -1.291232  0.268375 -0.107068  0.528309  hello
2  0.741767 -0.260990  0.616725  0.379563  hello
3  0.094407  2.658701  0.870898  1.067476  hello
4 -2.672398  0.342675  0.267685 -0.958567  hello

In [25]:
df.loc[2, 'B'] = None

In [26]:
df.loc[4, 'E'] = "hallo"

In [27]:
df

           A         B         C         D      E
0   0.885448 -0.074157 -0.489922 -1.757388  hello
1  -1.291232  0.268375 -0.107068  0.528309  hello
2   0.741767       NaN  0.616725  0.379563  hello
3   0.094407  2.658701  0.870898  1.067476  hello
4  -2.672398  0.342675  0.267685 -0.958567  hallo
..       ...       ...       ...       ...    ...
95 -0.002380  1.170744 -1.102124  0.790969  hello
96  0.665286 -0.680753 -0.235932 -1.305668  hello
97  2.430418  0.437817 -0.593548 -1.554693  hello
98 -0.220084  0.344971  0.342664  1.044124  hello
99 -0.955082  0.766549 -0.234506  0.348689  hello

[100 rows x 5 columns]

In [28]:
for i, row in islice(df.iterrows(), 6):
    print(i, row['C'])

0 -0.4899218286637715
1 -0.10706814673179786
2 0.6167249297432801
3 0.8708983305113649
4 0.26768450494045876
5 -0.7606036726197365

In [37]:
def handle_row(row):
    return f'{row["A"]} {row["E"]}'
    
df.loc[:8, :].apply(handle_row, axis=1)

0      0.885448363642227 hello
1    -1.2912320870826257 hello
2     0.7417667184642317 hello
3    0.09440742874578466 hello
4    -2.6723979941973273 hallo
5     0.8136296528024023 hello
6    -1.0798474868758279 hello
7     -2.413680594054012 hello
8    -0.8707366308715072 hello
dtype: object

In [38]:
import re

In [39]:
exp = re.compile(r'hell(.*)')

In [43]:
df.loc[:8, 'E'].apply(lambda s: bool(re.match(exp, s)))

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7     True
8     True
Name: E, dtype: bool

In [55]:
def highlight(ele):
    if isinstance(ele, str):
        return "" if exp.match(ele) else "background: yellow;"
    else:
        return ""

df.loc[:8, :].style.applymap(highlight)

In [56]:
type(df.style)

pandas.io.formats.style.Styler

In [57]:
dict1 = {
    'a': 3,
    'b' :4
}

In [58]:
dict2 = {
    'b': 20,
    'c': 'hello'
}

In [59]:
dict1.update(dict2)

In [60]:
dict1

{'a': 3, 'b': 20, 'c': 'hello'}