In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'name': ['Jan', 'Oren', 'Michael'],
    'age': [30, 20, 40]
})

In [65]:
df.shape

(3, 2)

In [67]:
df.head().to_html().replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>30</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>    <tr>      <th>2</th>      <td>Michael</td>      <td>40</td>    </tr>  </tbody></table>'

In [7]:
df.columns, df.index

(Index(['name', 'age'], dtype='object'), RangeIndex(start=0, stop=3, step=1))

In [8]:
df.T

        0     1        2
name  Jan  Oren  Michael
age    30    20       40

In [9]:
df.T.columns, df.T.index

(RangeIndex(start=0, stop=3, step=1), Index(['name', 'age'], dtype='object'))

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [11]:
df.name = df.name.astype(str)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [13]:
df.dtypes

name    object
age      int64
dtype: object

In [14]:
type(df.name)

pandas.core.series.Series

In [15]:
df.name.dtype

dtype('O')

In [21]:
df.name.astype("string")

0        Jan
1       Oren
2    Michael
Name: name, dtype: string

In [19]:
df = df.astype({'name': "string"})

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      string
 1   age     3 non-null      int64
dtypes: int64(1), string(1)
memory usage: 176.0 bytes

In [26]:
df.memory_usage(deep=True)

Index    128
name     185
age       24
dtype: int64

In [27]:
pd.DataFrame({
    'a': [1, 2],
    'b': ['a']
})

ValueError: All arrays must be of the same length

In [41]:
def records():
    for i in range(5):
        yield (i + 1,  i + ord('a'), 90 - i, 3 ** i)

In [52]:
from IPython.display import HTML

In [63]:
pd.DataFrame.from_records(records(), columns=['c1','c2','c3', 'c4']).to_html().replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>c1</th>      <th>c2</th>      <th>c3</th>      <th>c4</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>1</td>      <td>97</td>      <td>90</td>      <td>1</td>    </tr>    <tr>      <th>1</th>      <td>2</td>      <td>98</td>      <td>89</td>      <td>3</td>    </tr>    <tr>      <th>2</th>      <td>3</td>      <td>99</td>      <td>88</td>      <td>9</td>    </tr>    <tr>      <th>3</th>      <td>4</td>      <td>100</td>      <td>87</td>      <td>27</td>    </tr>    <tr>      <th>4</th>      <td>5</td>      <td>101</td>      <td>86</td>      <td>81</td>    </tr>  </tbody></table>'

In [43]:
df.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>30</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>    <tr>      <th>2</th>      <td>Michael</td>      <td>40</td>    </tr>  </tbody></table>'

In [44]:
df_head = df.head(2)

In [45]:
df_head.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>30</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>  </tbody></table>'

In [47]:
df_head.loc[0, 'age'] = 31

In [51]:
return_html(df_head)

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>31</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>  </tbody></table>'

In [53]:
return_html(df)

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>31</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>    <tr>      <th>2</th>      <td>Michael</td>      <td>40</td>    </tr>  </tbody></table>'

In [5]:
def return_html(df):
    return df.to_html().replace("\n", "")

In [14]:
df['hobby'] = 'Python'

In [15]:
df

      name  age   hobby
0      Jan   31  Python
1     Oren   20  Python
2  Michael   40  Python

In [16]:
df.memory_usage(deep=True)

Index    128
name     185
age       24
hobby    189
dtype: int64

In [17]:
df.loc[1, 'hobby'] = 'Java'

In [18]:
df

      name  age   hobby
0      Jan   31  Python
1     Oren   20    Java
2  Michael   40  Python

In [19]:
df.memory_usage(deep=True)

Index    128
name     185
age       24
hobby    187
dtype: int64

In [23]:
df.name.str.len()

0    3
1    4
2    7
Name: name, dtype: int64

In [24]:
df_head.shape

(2, 2)

In [25]:
df.shape

(3, 3)

In [26]:
df_head.loc[0, 'age'] = 32

In [27]:
df

      name  age   hobby
0      Jan   32  Python
1     Oren   20    Java
2  Michael   40  Python

In [28]:
df_head.columns

Index(['name', 'age'], dtype='object')

In [38]:
df_from_np_matrix = pd.DataFrame(np.random.randn(8, 5), columns=list("ABCDE"))

In [39]:
df_from_np_matrix.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>A</th>      <th>B</th>      <th>C</th>      <th>D</th>      <th>E</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>-0.796475</td>      <td>1.094937</td>      <td>0.085857</td>      <td>-0.422669</td>      <td>0.838842</td>    </tr>    <tr>      <th>1</th>      <td>0.193157</td>      <td>1.581320</td>      <td>-0.154880</td>      <td>-0.072739</td>      <td>0.124116</td>    </tr>    <tr>      <th>2</th>      <td>1.602135</td>      <td>0.443397</td>      <td>-1.886092</td>      <td>0.763741</td>      <td>-0.094495</td>    </tr>    <tr>      <th>3</th>      <td>-1.904237</td>      <td>-0.075916</td>      <td>-0.160738</td>      <td>0.189941</td>      <td>2.368079</td>    </tr>    <tr>      <th>4</th>      <td>-0.556937</td>      <td>0.989280</td>      <td>0.137683</td>      <td>1.488743</td>      <td>-0.647949</td>    </tr>    <tr>      <th>5</th>      <td>1.350182</td>      <td>-0.297231</td>      <td>0.854884</td>      <td>-0.344520</td>      <td>-0.129298</td>    </tr>    <tr>      <th>6</th>      <td>-1.392316</td>      <td>-2.541472</td>      <td>0.680830</td>      <td>1.210426</td>      <td>-1.091972</td>    </tr>    <tr>      <th>7</th>      <td>-0.525120</td>      <td>0.421930</td>      <td>1.668550</td>      <td>0.260011</td>      <td>1.383353</td>    </tr>  </tbody></table>'

In [3]:
df.groupby('name')

In [6]:
df = pd.DataFrame(
    {
        "animal": "cat dog cat fish dog cat cat".split(),
        "size": list("SSMMMLL"),
        "weight": [8, 10, 11, 1, 20, 12, 12],
        "adult": [False] * 5 + [True] * 2,
    }
)

gb = df.groupby(["animal"])

return_html(gb.get_group("cat"))

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>animal</th>      <th>size</th>      <th>weight</th>      <th>adult</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>cat</td>      <td>S</td>      <td>8</td>      <td>False</td>    </tr>    <tr>      <th>2</th>      <td>cat</td>      <td>M</td>      <td>11</td>      <td>False</td>    </tr>    <tr>      <th>5</th>      <td>cat</td>      <td>L</td>      <td>12</td>      <td>True</td>    </tr>    <tr>      <th>6</th>      <td>cat</td>      <td>L</td>      <td>12</td>      <td>True</td>    </tr>  </tbody></table>'

In [2]:
df = pd.DataFrame({"A": [1, 1, 2, 2], "B": [1, -1, 1, 2]})

gb = df.groupby("A")

def replace(g):
    mask = g < 0
    return g.where(~mask, g[~mask].mean())

gb.transform(replace)

   B
0  1
1  1
2  1
3  2

In [3]:
df

   A  B
0  1  1
1  1 -1
2  2  1
3  2  2

In [4]:
df.where?

Signature:
df.where(
    cond,
    other=<no_default>,
    *,
    inplace: 'bool' = False,
    axis: 'Axis | None' = None,
    level: 'Level' = None,
    errors: 'IgnoreRaise | lib.NoDefault' = 'raise',
    try_cast: 'bool | lib.NoDefault' = <no_default>,
) -> 'DataFrame | None'
Docstring:
Replace values where the condition is False.

Parameters
----------
cond : bool Series/DataFrame, array-like, or callable
    Where `cond` is True, keep the original value. Where
    False, replace with corresponding value from `other`.
    If `cond` is callable, it is computed on the Series/DataFrame and
    should return boolean Series/DataFrame or array. The callable must
    not change input Series/DataFrame (though pandas doesn't check it).
other : scalar, Series/DataFrame, or callable
    Entries where `cond` is False are replaced with
    corresponding value from `other`.
    If other is callable, it is computed on the Series/DataFrame and
    should return scalar or Series/DataFrame. The callable must not
    change input Series/DataFrame (though pandas doesn't check it).
inplace : bool, default False
    Whether to perform the operation in place on the data.
axis : int, default None
    Alignment axis if needed. For `Series` this parameter is
    unused and defaults to 0.
level : int, default None
    Alignment level if needed.
errors : str, {'raise', 'ignore'}, default 'raise'
    Note that currently this parameter won't affect
    the results and will always coerce to a suitable dtype.

    - 'raise' : allow exceptions to be raised.
    - 'ignore' : suppress exceptions. On error return original object.

    .. deprecated:: 1.5.0
       This argument had no effect.

try_cast : bool, default None
    Try to cast the result back to the input type (if possible).

    .. deprecated:: 1.3.0
        Manually cast back if necessary.

Returns
-------
Same type as caller or None if ``inplace=True``.

See Also
--------
:func:`DataFrame.mask` : Return an object of same shape as
    self.

Notes
-----
The where method is an application of the if-then idiom. For each
element in the calling DataFrame, if ``cond`` is ``True`` the
element is used; otherwise the corresponding element from the DataFrame
``other`` is used. If the axis of ``other`` does not align with axis of
``cond`` Series/DataFrame, the misaligned index positions will be filled with
False.

The signature for :func:`DataFrame.where` differs from
:func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
``np.where(m, df1, df2)``.

For further details and examples see the ``where`` documentation in
:ref:`indexing <indexing.where_mask>`.

The dtype of the object takes precedence. The fill value is casted to
the object's dtype, if this can be done losslessly.

Examples
--------
>>> s = pd.Series(range(5))
>>> s.where(s > 0)
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64
>>> s.mask(s > 0)
0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

>>> s = pd.Series(range(5))
>>> t = pd.Series([True, False])
>>> s.where(t, 99)
0     0
1    99
2    99
3    99
4    99
dtype: int64
>>> s.mask(t, 99)
0    99
1     1
2    99
3    99
4    99
dtype: int64

>>> s.where(s > 1, 10)
0    10
1    10
2    2
3    3
4    4
dtype: int64
>>> s.mask(s > 1, 10)
0     0
1     1
2    10
3    10
4    10
dtype: int64

>>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
>>> df
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
>>> m = df % 3 == 0
>>> df.where(m, -df)
   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9
>>> df.where(m, -df) == np.where(m, df, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
>>> df.where(m, -df) == df.mask(~m, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
File:      ~/projects/yapy3c/venv/lib/python3.8/site-packages/pandas/core/frame.py
Type:      method

In [5]:
s = pd.Series([1, 2, 8])

In [7]:
list(s.expanding())

[0    1
 dtype: int64,
 0    1
 1    2
 dtype: int64,
 0    1
 1    2
 2    8
 dtype: int64]

In [8]:
df

   A  B
0  1  1
1  1 -1
2  2  1
3  2  2

In [9]:
df['A'].diff()

0    NaN
1    0.0
2    1.0
3    0.0
Name: A, dtype: float64