In [29]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame({
    'name': ['Jan', 'Oren', 'Michael'],
    'age': [30, 20, 40]
})

In [65]:
df.shape

(3, 2)

In [67]:
df.head().to_html().replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>30</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>    <tr>      <th>2</th>      <td>Michael</td>      <td>40</td>    </tr>  </tbody></table>'

In [7]:
df.columns, df.index

(Index(['name', 'age'], dtype='object'), RangeIndex(start=0, stop=3, step=1))

In [8]:
df.T

        0     1        2
name  Jan  Oren  Michael
age    30    20       40

In [9]:
df.T.columns, df.T.index

(RangeIndex(start=0, stop=3, step=1), Index(['name', 'age'], dtype='object'))

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [11]:
df.name = df.name.astype(str)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [13]:
df.dtypes

name    object
age      int64
dtype: object

In [14]:
type(df.name)

pandas.core.series.Series

In [15]:
df.name.dtype

dtype('O')

In [21]:
df.name.astype("string")

0        Jan
1       Oren
2    Michael
Name: name, dtype: string

In [19]:
df = df.astype({'name': "string"})

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      string
 1   age     3 non-null      int64
dtypes: int64(1), string(1)
memory usage: 176.0 bytes

In [26]:
df.memory_usage(deep=True)

Index    128
name     185
age       24
dtype: int64

In [27]:
pd.DataFrame({
    'a': [1, 2],
    'b': ['a']
})

ValueError: All arrays must be of the same length

In [41]:
def records():
    for i in range(5):
        yield (i + 1,  i + ord('a'), 90 - i, 3 ** i)

In [52]:
from IPython.display import HTML

In [63]:
pd.DataFrame.from_records(records(), columns=['c1','c2','c3', 'c4']).to_html().replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>c1</th>      <th>c2</th>      <th>c3</th>      <th>c4</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>1</td>      <td>97</td>      <td>90</td>      <td>1</td>    </tr>    <tr>      <th>1</th>      <td>2</td>      <td>98</td>      <td>89</td>      <td>3</td>    </tr>    <tr>      <th>2</th>      <td>3</td>      <td>99</td>      <td>88</td>      <td>9</td>    </tr>    <tr>      <th>3</th>      <td>4</td>      <td>100</td>      <td>87</td>      <td>27</td>    </tr>    <tr>      <th>4</th>      <td>5</td>      <td>101</td>      <td>86</td>      <td>81</td>    </tr>  </tbody></table>'

In [43]:
df.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>30</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>    <tr>      <th>2</th>      <td>Michael</td>      <td>40</td>    </tr>  </tbody></table>'

In [44]:
df_head = df.head(2)

In [45]:
df_head.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>30</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>  </tbody></table>'

In [47]:
df_head.loc[0, 'age'] = 31

In [51]:
return_html(df_head)

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>31</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>  </tbody></table>'

In [53]:
return_html(df)

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Jan</td>      <td>31</td>    </tr>    <tr>      <th>1</th>      <td>Oren</td>      <td>20</td>    </tr>    <tr>      <th>2</th>      <td>Michael</td>      <td>40</td>    </tr>  </tbody></table>'

In [50]:
def return_html(df):
    return df.to_html().replace("\n", "")

In [14]:
df['hobby'] = 'Python'

In [15]:
df

      name  age   hobby
0      Jan   31  Python
1     Oren   20  Python
2  Michael   40  Python

In [16]:
df.memory_usage(deep=True)

Index    128
name     185
age       24
hobby    189
dtype: int64

In [17]:
df.loc[1, 'hobby'] = 'Java'

In [18]:
df

      name  age   hobby
0      Jan   31  Python
1     Oren   20    Java
2  Michael   40  Python

In [19]:
df.memory_usage(deep=True)

Index    128
name     185
age       24
hobby    187
dtype: int64

In [23]:
df.name.str.len()

0    3
1    4
2    7
Name: name, dtype: int64

In [24]:
df_head.shape

(2, 2)

In [25]:
df.shape

(3, 3)

In [26]:
df_head.loc[0, 'age'] = 32

In [27]:
df

      name  age   hobby
0      Jan   32  Python
1     Oren   20    Java
2  Michael   40  Python

In [28]:
df_head.columns

Index(['name', 'age'], dtype='object')

In [38]:
df_from_np_matrix = pd.DataFrame(np.random.randn(8, 5), columns=list("ABCDE"))

In [39]:
df_from_np_matrix.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>A</th>      <th>B</th>      <th>C</th>      <th>D</th>      <th>E</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>-0.796475</td>      <td>1.094937</td>      <td>0.085857</td>      <td>-0.422669</td>      <td>0.838842</td>    </tr>    <tr>      <th>1</th>      <td>0.193157</td>      <td>1.581320</td>      <td>-0.154880</td>      <td>-0.072739</td>      <td>0.124116</td>    </tr>    <tr>      <th>2</th>      <td>1.602135</td>      <td>0.443397</td>      <td>-1.886092</td>      <td>0.763741</td>      <td>-0.094495</td>    </tr>    <tr>      <th>3</th>      <td>-1.904237</td>      <td>-0.075916</td>      <td>-0.160738</td>      <td>0.189941</td>      <td>2.368079</td>    </tr>    <tr>      <th>4</th>      <td>-0.556937</td>      <td>0.989280</td>      <td>0.137683</td>      <td>1.488743</td>      <td>-0.647949</td>    </tr>    <tr>      <th>5</th>      <td>1.350182</td>      <td>-0.297231</td>      <td>0.854884</td>      <td>-0.344520</td>      <td>-0.129298</td>    </tr>    <tr>      <th>6</th>      <td>-1.392316</td>      <td>-2.541472</td>      <td>0.680830</td>      <td>1.210426</td>      <td>-1.091972</td>    </tr>    <tr>      <th>7</th>      <td>-0.525120</td>      <td>0.421930</td>      <td>1.668550</td>      <td>0.260011</td>      <td>1.383353</td>    </tr>  </tbody></table>'