In [2]:
from dataclasses import dataclass
import pandas as pd

In [3]:
@dataclass
class A:
    a: int
    b: str
    
@dataclass
class B:
    c: int
    d: str

In [5]:
df = pd.DataFrame({'a': [A(1, "hello"), A(10, "bye")]})

In [6]:
df

                   a
0  A(a=1, b='hello')
1   A(a=10, b='bye')

In [7]:
df.loc[0, 'a']

A(a=1, b='hello')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes

In [11]:
type(df.loc[0, 'a'])

__main__.A

In [12]:
df['b'] = [B(12, "hello12"), B(11, "bye_to_you")]

In [13]:
df

                   a                        b
0  A(a=1, b='hello')     B(c=12, d='hello12')
1   A(a=10, b='bye')  B(c=11, d='bye_to_you')

In [16]:
df.loc[lambda d: d.a.apply(lambda x: x.a < 3)]

                   a                     b
0  A(a=1, b='hello')  B(c=12, d='hello12')