In [1]:
import sys

In [3]:
sys.version

'3.10.6 (main, Mar 10 2023, 10:55:28) [GCC 11.3.0]'

In [4]:
3
4
5

5

In [5]:
type(31)

int

In [6]:
type(int)

type

In [7]:
type(print)

builtin_function_or_method

In [8]:
type(sys)

module

In [9]:
'hello'

'hello'

In [10]:
type("hello")

str

In [11]:
my_list = [1, 2, 4]

In [13]:
l = my_list[1:]

In [14]:
my_list

[1, 2, 4]

In [15]:
l

[2, 4]

In [16]:
l[0] = "check"

In [17]:
l

['check', 4]

In [18]:
my_list

[1, 2, 4]

In [19]:
def add(a, b):
    return a + b

In [20]:
add(1, "hello")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
a_func = add

In [24]:
print(type(5 / 2))

<class 'float'>

In [25]:
print(type(4 / 2))

<class 'float'>

In [26]:
5 // 2

2

In [29]:
a = 4
b = 400

In [30]:
a, b = b, a

In [31]:
a, b

(400, 4)

In [33]:
import time
import numpy as np

a = np.random.randn(5_000_000)
b = np.random.randn(5_000_000)

In [34]:
%%time

c1 = a + b

CPU times: user 7.29 ms, sys: 12.5 ms, total: 19.8 ms
Wall time: 18.2 ms

In [35]:
%%time

c2 = []
for i in range(len(a)):
    c2.append(a[i] + b[i])
c2 = np.array(c2)

CPU times: user 928 ms, sys: 92 ms, total: 1.02 s
Wall time: 1.02 s

In [36]:
%%time

c3 = np.array([ia + ib for ia, ib in zip(a, b)])

CPU times: user 537 ms, sys: 42.2 ms, total: 580 ms
Wall time: 578 ms

In [37]:
np.array_equal(c1, c2) and np.array_equal(c2, c3)

True

In [38]:
(c1 == c2).all()

True

In [39]:
for i, c in enumerate("hello"):
    print(i, i * 2, c)

0 0 h
1 2 e
2 4 l
3 6 l
4 8 o

In [40]:
d = {'a': 4}

In [41]:
d['a']

4

In [42]:
d['b']

KeyError: 'b'

In [44]:
d.get('b', 7)

7

In [45]:
lst = [1, 2, 3, 1, 2]

In [46]:
lst_mod = []
set_of_seen = set()
for item in lst:
    if item in set_of_seen:
        continue
    lst_mod.append(item)
    set_of_seen.add(item)

In [47]:
lst_mod

[1, 2, 3]

In [48]:
lst[:] = lst_mod

In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.DataFrame({
    'name': ['Jan', 'Oren', 'Michael'],
    'age': [30, 20, 40]
}); df.shape

(3, 2)

In [51]:
df

      name  age
0      Jan   30
1     Oren   20
2  Michael   40

In [52]:
df1 = df.copy()

In [53]:
df1.loc[1, "name"] = "abc"

In [54]:
df1

      name  age
0      Jan   30
1      abc   20
2  Michael   40

In [55]:
df

      name  age
0      Jan   30
1     Oren   20
2  Michael   40

In [56]:
df.age.mean()

30.0

In [57]:
gb = df.groupby("name")

In [58]:
type(gb)

pandas.core.groupby.generic.DataFrameGroupBy

In [60]:
for _, g in gb:
    print(g)

  name  age
0  Jan   30
      name  age
2  Michael   40
   name  age
1  Oren   20

In [63]:
gb.agg(mean_age=('age', np.mean), max_age=('age', 'max'))

         mean_age  max_age
name
Jan          30.0       30
Michael      40.0       40
Oren         20.0       20

In [65]:
list(df.columns)

['name', 'age']